@font-face {
  font-family: 'iconfont';  /* project id 870016 */
  src: url('//at.alicdn.com/t/font_870016_zks0vz9m6ya.eot');
  src: url('//at.alicdn.com/t/font_870016_zks0vz9m6ya.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_870016_zks0vz9m6ya.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_870016_zks0vz9m6ya.woff') format('woff'),
  url('//at.alicdn.com/t/font_870016_zks0vz9m6ya.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_870016_zks0vz9m6ya.svg#iconfont') format('svg');
}
.icon{
    font-family: 'iconfont';
    font-style: normal;
}