@font-face {
  font-family: 'iconfont';  /* project id 870016 */
  src: url('//at.alicdn.com/t/font_870016_bt1v220x59m.eot');
  src: url('//at.alicdn.com/t/font_870016_bt1v220x59m.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_870016_bt1v220x59m.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_870016_bt1v220x59m.woff') format('woff'),
  url('//at.alicdn.com/t/font_870016_bt1v220x59m.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_870016_bt1v220x59m.svg#iconfont') format('svg');
}
.icon{
    font-family: 'iconfont';
    font-style: normal;
}