@font-face {
  font-family: 'iconfont';  /* project id 870016 */
  src: url('//at.alicdn.com/t/font_870016_dqxmol8ghjd.eot');
  src: url('//at.alicdn.com/t/font_870016_dqxmol8ghjd.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_870016_dqxmol8ghjd.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_870016_dqxmol8ghjd.woff') format('woff'),
  url('//at.alicdn.com/t/font_870016_dqxmol8ghjd.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_870016_dqxmol8ghjd.svg#iconfont') format('svg');
}
.icon{
    font-family: 'iconfont';
    font-style: normal;
}