@import "base";

body {
    background-color: #eeeeee;

}

.index {
    .top {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 100;
        overflow: hidden;
        background-color: #12b7f5;
        height: size(128);

        .topBack {
            width: size(28);
            height: size(50);
            float: left;
            padding: size(39) size(40);
        }

        .topTitle {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            height: size(128);
            line-height: size(128);
            text-align: center;
            font-size: fontSize(46);
            color: #ffffff;
            z-index: -1;
        }

        .topRight {
            float: right;

            .topSet {
                width: size(48);
                height: size(48);
                display: block;
                padding: size(40) size(40);
            }
        }
    }

    .content {
        padding-top: size(128);
        overflow: auto; //使用普通滚动, 当手指从触摸屏上移开，滚动会立即停止。
        -webkit-overflow-scrolling: touch; //使用具有回弹效果的滚动,
        min-height: calc(100% + size(1)); //防止页面卡顿，主动触发

        .homePage {
            overflow: auto; //使用普通滚动, 当手指从触摸屏上移开，滚动会立即停止。
            -webkit-overflow-scrolling: touch; //使用具有回弹效果的滚动,
            min-height: calc(100% + size(1)); //防止页面卡顿，主动触发

            .hpBannerDiv {
                position: relative;
                height: size(487);

                .homePage_banner {
                    width: size(1080);
                    height: size(487);
                    display: block;
                }

                .hpPersonal {
                    height: size(400);
                    position: absolute;
                    left: size(20);
                    right: size(20);
                    top: 50%;
                    z-index: 1;
                    background-color: #ffffff;
                    padding: size(40) size(50); 
                    box-shadow: 0 0 size(24) 0 rgba(0, 0, 0, 0.15);
                    border-radius: size(10);
                    overflow: hidden;

                    .hpPersonLeft {
                        float: left;
                        width: size(710);
                        height: size(400);
                        display: flex;
                        
                        flex-direction: column;
                        justify-content: space-between;


                        .hpPersonState {
                            overflow: hidden;

                            .hpPersonSerial {
                                margin-right: size(30);
                                float: left;
                                color: #666464;
                                font-size: fontSize(30);
                            }

                            .hpExecutionDiv:last-child {
                                margin-right: 0;
                            }

                            .hpExecutionDiv {
                                float: left;
                                overflow: hidden;
                                margin-right: size(30);
                                display: flex;
                                align-items: center;

                                .hpExecutionIcon {
                                    width: size(27);
                                    height: size(27);
                                    float: left;
                                    margin-right: size(8);

                                }

                                .hpAttestationIcon {
                                    width: size(28);
                                    height: size(33);
                                    float: left;
                                    margin-right: size(10);
                                }

                                .hpExecutionP {
                                    float: left;
                                    color: #57bfc1;
                                    font-size: fontSize(30);


                                }

                                .hpExecutionP_lose {
                                    float: left;
                                    color: #ec3240;
                                    font-size: fontSize(30);
                                }

                                .hpExecutionP_no {
                                    float: left;
                                    color: #999999;
                                    font-size: fontSize(30);
                                }

                                .hpExecutionP_ing {
                                    float: left;
                                    color: #3cbae7;
                                    font-size: fontSize(30);
                                }

                                .hpAttestationBox,
                                .hpAttestationBox2 {
                                    color: #ffffff;
                                    font-size: fontSize(23);
                                    background-color: #a39488;
                                    border-radius: size(8);
                                    float: left;
                                    margin-right: size(6);
                                    padding: size(2) size(10);
                                }

                                .hpAttestationBoxImg {
                                    width: size(65);
                                    height: size(40);
                                    border-radius: size(8);
                                    float: left;
                                    margin-right: size(6);
                                }

                                .hpAttestationBox2 {
                                    background-color: #8f82bc;
                                }
                            }
                        }

                        .hpPersonTitle {
                           // margin-top: size(50);
                            color: #333333;
                            font-size: fontSize(46);
                            word-break: break-all;
                            display: -webkit-box;
                            -webkit-line-clamp: 2;
                            -webkit-box-orient: vertical;
                            overflow: hidden;

                        }

                        .hpPersonBtns {
                           // margin-top: size(50);
                            overflow: hidden;
                            .hpPersonBtn1line{
                                background-color: #16b2f2;
                                padding: size(1);
                             
                            }
                            .hpPersonBtn1 {
                                max-width: size(360);
                                white-space: nowrap;
                                text-overflow: ellipsis;
                                overflow: hidden;
                                float: left;
                                margin-right: size(35);
                                border-radius: size(15);
                                border: solid 1px #16b2f2;
                                color: #16b2f2;
                                font-size: fontSize(34);
                                text-align: center; 
                                line-height: size(105); 
                                padding: 0 size(22);
                                b{
                                    font-weight: normal;
                                    margin-left: size(30);
                                }
                            }
                           

                            .hpPersonBtn2 {
                                float: left;
                                padding: 0 size(28);
                                line-height: size(105);
                                overflow: hidden;
                                border-radius: size(15);
                                border: solid 1px #f8a630;
                             //   box-shadow:0 0 1px 0 #f8a630;
                                display: flex;
                                justify-content: center;
                                align-items: center;

                                .hpPersonBtnicon {
                                    width: size(63);
                                    height: size(39);
                                    float: left;
                                    margin-right: size(22);
                                }

                                .hpPersonBtn2p {
                                    color: #f8a630;
                                    font-size: fontSize(34);
                                }
                            }
                        }
                    }

                    .hpPersonRight {
                        float: right;
                        width: size(220);

                        .hpPersonHeadImgDiv {
                            position: relative;
                            display: flex;
                            justify-content: center;

                            .hpPersonHeadImg {
                                width: size(196);
                                height: size(196);
                                display: block;
                                border-radius: size(100);
                            }

                            .hpPersonHeadBox {
                                width: size(170);
                                position: absolute;
                                // left: 0;
                                // right: 0;
                                bottom: size(-10);
                                padding: size(2) size(10);
                                background-color: #12b7f5;
                                border-radius: size(10);
                                text-align: center;
                                font-size: fontSize(25);
                                line-height: size(43);
                                color: #ffffff;
                                text-overflow: ellipsis;
                                overflow: hidden;
                                white-space: nowrap;
                            }
                        }

                        .hpPersonWorkNum {
                            margin-top: size(30);
                            color: #a7a7a7;
                            font-size: fontSize(24);

                            b {
                                font-weight: normal;
                                color: #4cb2eb;
                                background-color: #e7f8fe;
                                padding: size(2) size(6);
                            }
                        }

                    }

                }
            }

            .redPacket {
                background-color: #ffffff;
                padding-top: size(240);
                margin-bottom: size(20);

                .rpTop {
                    overflow: hidden;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    border-bottom: 1px solid #eeeeee;
                    padding: size(32);

                    .rpTopleft {
                        display: flex;
                        align-items: center;
                        overflow: hidden;

                        .rpTopsquare {
                            float: left;
                            width: size(10);
                            height: size(36);
                            background-color: #12b7f5;
                            margin-right: size(24);

                        }

                        .rpTopTitle {
                            float: left;
                            color: #333333;
                            font-size: fontSize(42);

                        }
                    }


                    .rpTopnextRight {
                        width: size(15);
                        height: size(27);

                    }
                }

                .rpContent {
                    padding: size(32);
                 

                    .rpBg {
                        background-color: #fff2f0;
                        border-radius: size(10);
                        overflow: hidden;
                        padding: size(14) size(0) size(14) size(40);

                        .rpIcon {
                            width: size(185);
                            height: size(140);
                            float: left;
                            margin-right: size(30);
                        }

                        .rpTextDiv {
                            float: left;
                            margin-top: size(14);
                            width: size(470);

                            .rpText {
                                color: #333333;
                                font-size: fontSize(40);
                                white-space: nowrap;
                                text-overflow: ellipsis;
                                overflow: hidden;

                                b {
                                    margin-left: size(20);
                                    color: #eec013;

                                }
                            }

                            .rpText2 {
                                color: #b3b3b3;
                                font-size: fontSize(24);
                                margin-top: size(10);
                                white-space: nowrap;
                                text-overflow: ellipsis;
                                overflow: hidden;

                            }

                            .rpText3 {
                                color: #f8959d;
                                font-size: fontSize(32);
                                margin-top: size(32);

                            }
                        }

                        .rpRight {
                            float: right;
                            margin-top: size(30);
                            margin-right: size(60);

                            .rpBtn {
                                background-color: #ec3240;
                                box-shadow: 0px 4px 9px 1px rgba(215, 29, 43, 0.4);
                                border-radius: size(5);
                                line-height: size(70);
                                padding: size(5) size(20);
                                position: relative;

                                .rpBtnP {
                                    text-align: center;
                                    color: #ffffff;
                                    font-size: fontSize(38);
                                    box-shadow: 0px 2px 3px 0px rgba(148, 11, 10, 0.3);
                                }

                                .rpDot1 {
                                    position: absolute;
                                    top: 40%;
                                    left: -30%;
                                    width: size(24);
                                    height: size(18);
                                    display: block;
                                }

                                .rpDot2 {
                                    position: absolute;
                                    top: 5%;
                                    right: -20%;
                                    width: size(16);
                                    height: size(16);
                                    display: block;
                                }

                                .rpDot3 {
                                    position: absolute;
                                    bottom: 5%;
                                    right: -20%;
                                    width: size(21);
                                    height: size(14);
                                    display: block;
                                }

                            }

                        }
                    }
                    .redlistSort{
                        overflow: hidden;
                        padding: size(0) size(16);
                        height: size(277);
                      
                        .redlistBg:last-child{
                            margin-right: 0; 
                        }
                        .redlistBg1{
                            float: left; 
                            width: size(209);
                            height: size(277);
                            background-image: url(../img/NO.2.png);
                            background-repeat: no-repeat;
                            background-size: 100% auto;
                            margin-right: size(10);
                            overflow: hidden; 
                            // .NO2{
                            //     margin-top: size(20);
                            //     overflow: hidden;
                            //     i{
                            //         padding: 0 size(24);
                            //         float: right;
                            //         background-color: #dda4f7;
                            //         border-radius: size(20) 0 0 size(20);
                            //         color: #be71fa;
                            //         font-size: fontSize(26);
                            //     }
                            // }
                            .resortNr{
                                height: size(180);
                                margin-top: size(88);
                                padding-bottom: size(12);
                                display: flex;
                                flex-direction: column;
                                justify-content: space-between;
                               
                                .redsortName{
                                    color: #ffc4e5;
                                    font-size: fontSize(32);
                                    text-align: center;
                                }
                                .resortPrice{
                                    color: #ffffff;
                                    font-size: fontSize(28);
                                    text-align: center;
                                    i{
                                        font-style: normal;
                                        font-size: fontSize(36);
                                        font-weight: 3000; 
                                    }
                                    b{
                                        font-weight: normal;
                                        font-size: fontSize(23);
                                    }
                                }
                                .resortText{
                                    padding: 0 size(16);
                                    font-size: fontSize(14);
                                    color: #ffbbf4;
                                    word-break: break-all;
                                    display: -webkit-box;
                                    -webkit-line-clamp: 2;
                                    -webkit-box-orient: vertical;
                                    overflow: hidden;
                                
                                }
                            }
                            .noresort{
                                font-size: fontSize(36);
                                color: #ffc4e5;
                                text-align: center;
                                margin-top: size(120);
                            }
                            
                        }
                        .redlistBg2{
                            float: left;
                            width: size(541);
                            height: size(277);
                            background-image: url(../img/NO.1.png);
                            background-repeat: no-repeat;
                            background-size: 100% auto;
                            margin-right: size(10);
                            overflow: hidden;
                            // .NO2{
                            //     margin-top: size(20);
                            //     overflow: hidden;
                            //     i{
                            //         padding: 0 size(24);
                            //         float: right; 
                            //         background-color: #fec183;
                            //         border-radius: size(20) 0 0 size(20);
                            //         color: #ff913a;
                            //         font-size: fontSize(26);
                                    
                            //     }
                            // }
                            .resortNr{
                                margin-top: size(88);
                                padding-bottom: size(12);
                                padding: size(0) size(35);
                                height: size(180);
                                display: flex;
                                flex-direction: column;
                                justify-content: space-between;
                             
                                .no1Info{
                                    overflow: hidden;
                                    .redsortName{
                                        color: #fff2b8;
                                         font-size: fontSize(50);
                                         float: left;
                                         line-height: size(90);
                                    }
                                    .resortPrice{
                                        line-height: size(90);
                                        float: right;
                                        color: #ffffff; 
                                        font-size: fontSize(44);
                                        font-family: MyFont;  
                                     
                                        i{
                                            font-style: normal;
                                            font-size: fontSize(72);
                                            font-weight: 3000;
                                            font-family: MyFont;  
                                        }
                                        b{
                                            font-weight: normal;
                                            font-size: fontSize(48);
                                            font-family: MyFont;  
                                        }
                                    }
                                }
                                .resortText{
                                    color: #ffcdc5;
                                    font-size: fontSize(22);
                                    word-break: break-all;
                                    display: -webkit-box;
                                    -webkit-line-clamp: 2;
                                    -webkit-box-orient: vertical;
                                    overflow: hidden;
                                    // line-height: size(30);
                                }
                            }
                            .noresort{
                                font-size: fontSize(36);
                                color: #fff2b8;
                                text-align: center;
                                margin-top: size(120);
                            }
                          
                        }
                        .redlistBg3{ 
                            float: left;
                            width: size(209);
                            height: size(277);
                            background-image: url(../img/NO.3.png);
                            background-repeat: no-repeat;
                            background-size: 100% auto;
                            overflow: hidden;
                            // .NO2{
                            //     margin-top: size(20);
                            //     overflow: hidden;
                            //     i{
                            //         padding: 0 size(24);
                            //         float: right;
                            //         background-color: #adccf8;
                            //         border-radius: size(20) 0 0 size(20);
                            //         color: #8396e6;
                            //         font-size: fontSize(26);
                               
                            //     }
                            // }
                            .resortNr{
                                height: size(180);
                                margin-top: size(88);
                                padding-bottom: size(12);
                                display: flex;
                                flex-direction: column;
                                justify-content: space-between;
                                .redsortName{
                                    color: #accef9;
                                    font-size: fontSize(32);
                                    text-align: center;
                                }
                                .resortPrice{
                                    color: #ffffff;
                                    font-size: fontSize(28);
                                    text-align: center;
                                    i{
                                        font-style: normal;
                                        font-size: fontSize(36);
                                        font-weight: 3000; 
                                    }
                                    b{
                                        font-weight: normal;
                                        font-size: fontSize(23);
                                    }
                                }
                                .resortText{
                                    padding: 0 size(16);
                                    font-size: fontSize(14);
                                    color: #d2acff;
                                    word-break: break-all;
                                    display: -webkit-box;
                                    -webkit-line-clamp: 2;
                                    -webkit-box-orient: vertical;
                                    overflow: hidden;
                                }
                            }
                            .noresort{
                                font-size: fontSize(36);
                                color: #accef9;
                                text-align: center;
                                margin-top: size(120);
                            }
                          
                        }
                    }
                 

 
                }
            }

            .hpIcons {
                background-color: #ffffff;
                margin-bottom: size(20);
                padding: size(35) size(100);
                display: flex;
                justify-content: space-between;

                .hpIconDiv {
                    position: relative;

                    .hpIcon {
                        width: size(84);
                        height: size(84);
                        display: block;
                    }

                    .hpIconP {
                        text-align: center;
                        margin-top: size(28);
                        color: #4d4d4d;
                        font-size: fontSize(36);
                    }

                    .redDot {
                        position: absolute;
                        top: size(-2);
                        right: size(-2);
                        background-color: red;
                        width: size(24);
                        height: size(24);
                        border-radius: size(100);
                    }
                }
            }

            .hpImgs {
                background-color: #ffffff;
                margin-bottom: size(20);

                .hpDemoTop {
                    padding: size(32) size(40);
                    overflow: hidden;
                    border-bottom: 1px solid #eeeeee;

                    .hpDemoTopleft {
                        float: left;
                        overflow: hidden;
                        display: flex;
                        align-items: center;

                        .hpDemoTopSquare {
                            float: left;
                            width: size(10);
                            height: size(36);
                            background-color: #12b7f5;
                            margin-right: size(24);
                        }

                        .hpDemoTopTitle {
                            float: left;
                            color: #333333;
                            font-size: fontSize(42);
                        }
                    }

                    .hpDemoTopRight {
                        float: right;
                        overflow: hidden;
                        display: flex;
                        align-items: center;

                        .hpDemoTopRightP {
                            float: left;
                            color: #999999;
                            font-size: fontSize(34);
                            margin-right: size(28);


                        }

                        .hpDemoTopNextRight {
                            float: left;
                            width: size(15);
                            height: size(27);
                            display: block;
                        }
                    }
                }

                .hpImgNr {
                    padding: size(0) size(44);
                    margin-top: size(30);
                    overflow: hidden;

                    .hpImgNrDemo:nth-child(4n) {
                        margin-right: 0;
                    }

                    .hpImgNrDemo {
                        margin-right: size(16);
                        float: left;
                        margin-bottom: size(30);

                        .hpImgDivs {
                            position: relative;

                            .hpImg {
                                width: size(236);
                                height: size(236);
                                display: block;

                            }

                            .hpImgDate {
                                position: absolute;
                                bottom: 0;
                                left: 0;
                                right: 0;
                                background-color: rgba(0, 0, 0, 0.3);
                                color: #e5e5e5;
                                font-size: fontSize(32);
                                text-align: center;

                            }

                        }

                        .hpImgName {
                            width: size(236);
                            text-align: center;
                            color: #333333;
                            font-size: fontSize(38);
                            margin-top: size(20);
                        }
                    }

                }

                .hpReal {
                    .hpRealDemo {
                        padding: size(40) size(0);
                        border-bottom: 1px solid #eeeeee;
                        overflow: hidden;

                        .hpRealLeft:last-child {
                            border-right: 0;
                        }

                        .hpRealLeft {
                            width: size(538);
                            float: left;
                            border-right: 1px solid #eeeeee;
                            display: flex;
                            justify-content: space-around;
                            overflow: hidden;

                            .hpRealIconDiv {
                                width: size(180);
                                float: left;
                                margin-left: size(25);
                                margin-right: size(30);

                                .hpRealICON {
                                    width: size(90);
                                    height: size(90);
                                    margin-left: size(45);
                                    display: block;
                                    margin-bottom: size(20);

                                }

                                .hpRealIconP {
                                    width: size(180);
                                    text-align: center;
                                    color: #333333;
                                    font-size: fontSize(30);
                                }
                            }

                            .hpRealNR {
                                width: size(283);
                                float: left;
                                padding-right: size(20);

                                .hpRealCount {
                                    color: #666666;
                                    font-size: fontSize(26);
                                    margin-bottom: size(12);
                                }

                                .hpRealImg {
                                    width: size(100);
                                    height: size(80);
                                    float: left;
                                    margin-right: size(8);
                                    margin-bottom: size(8);
                                    border-radius: size(5);
                                }

                            }
                        }
                    }
                }

            }

            .need {
                margin-top: size(230);
                padding: 0 size(24);

                .neetHint {
                    color: #999999;
                    font-size: fontSize(38);
                    text-align: center;
                    margin-bottom: size(50);
                }

                .needIslike {
                    margin-top: size(93);
                    color: #999999;
                    font-size: fontSize(32);
                    text-align: center;
                    margin-bottom: size(50);
                }

                .needBtn {
                    color: #ffffff;
                    font-size: fontSize(42);
                    background-color: #3bc1fb;
                    line-height: size(101);
                    text-align: center;
                    margin: size(0) size(70) size(680) size(70);
                    border-radius: size(10);
                }

                .needDiv {
                    background-color: #ffffff;
                    border-radius: size(10);
                    padding: size(38) size(24);
                    margin-bottom: size(18);
                    overflow: hidden;

                    .needShopName {
                        color: #333333;
                        font-size: fontSize(44);
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                        margin-bottom: size(22);
                    }

                    .needAboutShop {
                        overflow: hidden;
                        font-size: fontSize(30);
                        margin-bottom: size(24);

                        .needShopScore {
                            float: left;
                            margin-right: size(66);
                            color: #666666;

                            b {
                                color: #f24a56;
                                font-weight: normal;
                            }

                            i {
                                font-style: normal;
                                color: #12b7f5;
                            }
                        }

                        .needSpace {
                            float: right;
                            color: #666666;
                        }
                    }

                    .needShopImgs {
                        overflow: hidden;

                        .needShopImg:nth-child(3n) {
                            margin-right: 0;
                        }

                        .needShopImg {
                            float: left;
                            margin-right: size(12);
                            width: size(320);
                            height: size(210);
                        }
                    }

                    .needLeft {
                        width: size(650);
                        margin-right: size(22);
                        float: left;
                        overflow: hidden;

                        .needLeftTitle {
                            float: left;
                            word-break: break-all;
                            display: -webkit-box;
                            -webkit-line-clamp: 2;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                            color: #4d4d4d;
                            font-size: fontSize(40);
                            margin-bottom: size(50);

                            b {
                                color: #f19149;
                                font-size: fontSize(40);
                                // font-weight: normal;
                            }

                            i {
                                font-size: fontSize(36);
                                font-style: normal;
                            }
                        }

                        .needMoney {
                            color: #666666;
                            font-size: fontSize(34);
                            line-height: size(80);

                            b {
                                font-weight: normal;
                                color: #f19149;
                                font-size: fontSize(48);
                            }
                        }
                    }

                    .needRightImg {
                        float: right;
                        width: size(296);
                        height: size(190);
                    }

                    .needList:last-child {
                        margin-bottom: 0;
                    }

                    .needList {
                        overflow: hidden;
                        margin-bottom: size(35);

                        .needlistDot {
                            width: size(10);
                            height: size(10);
                            background-color: #818181;
                            border-radius: size(100);
                            float: left;
                            margin-top: size(25);
                            margin-right: size(24);
                        }

                        .needlistP {
                            color: #303030;
                            font-size: fontSize(34);
                            line-height: size(60);
                            margin-right: size(20);
                            text-overflow: ellipsis;
                            overflow: hidden;
                            white-space: nowrap;
                        }

                    }
                }
            }
        }

        .environmental {
            position: static;
            left: 0;
            right: 0;
            top: size(128);
            bottom: 0;
            background-color: #fff;
            overflow: auto; //使用普通滚动, 当手指从触摸屏上移开，滚动会立即停止。
            -webkit-overflow-scrolling: touch; //使用具有回弹效果的滚动,
            min-height: calc(100% + size(1)); //防止页面卡顿，主动触发

            .enList {
                overflow: hidden;
                padding: 0 size(30);

                .enListDot {
                    float: left;
                    width: size(10);
                    height: size(10);
                    margin-right: size(30);
                    border-radius: size(100);
                    background-color: #12b7f5;
                    margin-top: size(55);
                }

                .enListNr {

                    border-bottom: solid 1px #eeeeee;
                    overflow: hidden;

                    .enListP {
                        float: left;
                        color: #333333;
                        font-size: fontSize(42);
                        line-height: size(120);
                    }

                    .enListP2 {
                        color: #333333;
                        font-size: fontSize(38);
                        line-height: size(120);
                        float: right;
                    }
                }
            }
           
        }
        .environmental_Hint{
            padding: size(50) size(30); 
            font-size: fontSize(38);
            color:#999;
        }

        .Personal {
            overflow: auto; //使用普通滚动, 当手指从触摸屏上移开，滚动会立即停止。
            -webkit-overflow-scrolling: touch; //使用具有回弹效果的滚动,
            min-height: calc(100% + size(1)); //防止页面卡顿，主动触发

            .PersonalReal {
                background-color: #fff;
                overflow: hidden;
                margin-bottom: size(10);

                .PersonalCount {
                    overflow: hidden;
                    padding: size(61) size(42) 0 size(42);
                    border-bottom: solid 1px #eee;

                    .PersonalName {
                        color: #333333;
                        font-size: fontSize(44);
                        float: left;
                        line-height: size(95);

                    }

                    .personalNum {
                        float: right;
                        color: #333333;
                        font-size: fontSize(44);
                        line-height: size(95);

                        b {
                            color: #6bb15d;
                            font-size: fontSize(80);
                        }
                    }
                }

                .psCounts {
                    padding: size(30) size(42);

                    .psCountDiv {
                        float: left;
                        width: size(332);

                        .psNum,
                        .psNum2,
                        .psNum3 {
                            text-align: center;
                            color: #f15464;
                            font-size: fontSize(58);
                            margin-bottom: size(16);
                        }

                        .psNum2 {
                            color: #5e69fd;
                        }

                        .psNum3 {
                            color: #f3bf0e;
                        }

                        .psText {
                            text-align: center;
                            color: #b3b3b3;
                            font-size: fontSize(32);
                            margin-bottom: size(32);

                        }
                    }
                }

            }

            .psContent {
                background-color: #fff;
                padding: size(0) size(42) size(176) size(42);

                .psNrDiv {
                    padding-top: size(52);

                    .psNrTop {
                        overflow: hidden;
                        margin-bottom: size(30);

                        .psnrToptext {
                            color: #333333;
                            font-size: fontSize(42);
                            float: left;
                            line-height: size(80);
                        }

                        .psNrtext2 {
                            float: right;
                            font-size: fontSize(40);
                            line-height: size(80);

                            b {
                                color: #00b7ee;
                            }
                        }
                    }

                    .psNeirong,
                    .psNeirong2 {
                        background-color: #f2fafe;
                        height: size(300);
                        padding: size(35) size(42);

                        .psnrlist {
                            overflow: hidden;
                            color: #333333;
                            font-size: fontSize(36);
                            line-height: size(100);

                            .psnrlistText {
                                float: left;
                            }

                            .psnrlistText2 {
                                float: right;

                            }
                        }

                    }

                    .psNeirong2 {
                        background-color: #f2f2ff;
                    }
                }
            }
        }
    }


}

.cpm {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;

    .cpmWxtsDivs {
        position: absolute;
        left: size(60);
        right: size(60);

        .cpmWxts {

            background-color: #fff;
            border-radius: size(16);
            padding-bottom: size(30);
            padding-top: size(20);

            .cpmWxtsTop {
                padding: size(20) size(42);

                .headImgDiv {
                    display: flex;
                    justify-content: center;
                    margin-bottom: size(20);

                    .wxtsHeadImg {
                        width: size(275);
                        height: size(275);
                        display: block;
                    }
                }

                .wxtsText {
                    font-size: fontSize(38);
                    text-align: center;
                    color: #b3b3b3;
                    margin-bottom: size(42);
                    line-height: size(68);
                }

                .csrName {
                    font-size: fontSize(50);
                    text-align: center;
                    color: #303030;
                    margin-bottom: size(16);
                }

                .csrPhone {
                    font-size: fontSize(38);
                    text-align: center;
                    color: #999999;
                }

            }

            .cpmWxtsGo {
                border-bottom: solid 1px #eee;
                border-top: solid 1px #eee;
                padding: size(20) size(42);

                .cpmWxtsGotext {
                    position: relative;
                    font-size: fontSize(52);
                    text-align: center;
                    color: #12b7f5;

                    b {
                        font-weight: normal;

                    }

                    .cpmWxtsGoicon {
                        position: absolute;
                        right: size(20);
                        top: size(20);
                        width: size(24);
                        height: size(42);
                    }
                }




            }

            .cpmWxtsInfo {
                height: size(320);
                overflow: auto;
                display: flex;
                justify-content: space-between;

                .cpmWxtsInfoLeft {
                    padding-left: size(42);
                    float: left;
                    width: size(479);
                    //border-right: 1px solid #eee;


                    .cpmWxtsInfoLeftList {
                        overflow: hidden;
                        display: flex;
                        align-items: center;
                        padding-top: size(20);
                        border-right: 1px solid #eee;

                        .infoIcons {
                            width: size(50);
                            display: flex;
                            justify-content: center;
                            margin-right: size(20);
                            float: left;

                            .infoXiang {
                                width: size(42);
                                height: size(42);
                                display: block;


                            }

                            .infoRen {
                                display: block;
                                width: size(35);
                                height: size(41);
                            }

                            .infoSuo {
                                width: size(33);
                                height: size(31);
                                display: block;
                            }

                            .infoPhone {
                                width: size(26);
                                height: size(39);
                                display: block;
                            }
                        }



                        .infoText {
                            font-size: fontSize(38);
                            color: #999999;
                        }

                        .infoText2 {
                            font-size: fontSize(38);
                            color: #333;
                        }
                    }
                }
            }

            .cpmHint {
                margin-top: size(10);
                background-color: rgba(0, 0, 0, 0.3);
                font-size: fontSize(46);
                line-height: size(80);
                text-align: center;
                color: #fff;
            }
        }

        .bottomClose {
            margin-top: size(50);
            display: flex;
            justify-content: center;

            .bottomCloseIcon {
                width: size(100);
                height: size(100);
                display: block;
            }
        }
    }


    .renZheng {
        position: absolute;
        left: size(60);
        right: size(60);

        .rzTop {
            width: size(960);
            background-image: url(../img/cpmBg.png);
            background-size: 100% auto;
            background-repeat: no-repeat;
            padding-top: size(35);
            padding-bottom: size(30);
            position: relative;

            .rzIconDiv {
                display: flex;
                justify-content: center;

                .rzIcon {
                    width: size(200);
                    height: size(237);
                    display: block;
                }
            }

            .x {
                position: absolute;
                top: size(40);
                right: size(40);
                width: size(41);
                height: size(39);
                display: block;
            }

            .rzTopText {
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                padding: 0 size(50);
                text-align: center;
                color: #fff;
                font-size: fontSize(46);
                margin-top: size(30);
            }

        }

        .rzContent {
            background-color: #fff;
            border-radius: 0 0 size(30) size(30);
            padding: size(60) size(42);

            .rzTitle {
                color: #303030;
                font-size: fontSize(46);
                margin-bottom: size(30);
            }

            .iframeDiv {
                -webkit-overflow-scrolling: touch;
                overflow-y: scroll;
                overflow-x: hidden;
                height: size(240);
                width: size(876);

                iframe {
                    width: size(876) !important;
                    height: size(240);
                    border: 0;
                }
            }

            .rzBtn {
                margin-top: size(30);
                margin-bottom: size(10);
                text-align: center;
                color: #fff;
                font-size: fontSize(42);
                line-height: size(100);
                background-color: #12b7f5;
                border-radius: size(30);
            }
        }
    }
}

.iframeContent {
    background-color: #fff;
    width: size(1080);

    .rzText {
        color: #666464;
        font-size: fontSize(46);
        line-height: size(99);
        word-break: keep-all; //不拆分单词换行，break-all拆分单词换行
        word-wrap: break-word; //长文本换行
        overflow: hidden;

        .num {
            float: left;
        }

        .text {
            overflow: hidden;
        }
    }
}